<?xml version="1.0" encoding="UTF-8" standalone="no"?><applicationData xmlns="http://www.myspace.org/settings">
	<commonSettings>
		<fullscreen>1</fullscreen>
		<colorcount>7</colorcount>
		<size>10</size>
		<colornew>3</colornew>
		<baseWin>100</baseWin>
		<extraWin>50</extraWin>
		<countWin>5</countWin>
		<statmaxRows>17</statmaxRows>
	</commonSettings>
	<localData>


	<user><name>admin</name><pswdhash>21232f297a57a5a743894a0e4a801fc3</pswdhash><online>false</online><settings><sound>0</sound><tip>1</tip></settings></user></localData>



	
<stats><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record><record><name/><score>0</score></record></stats></applicationData>