<?xml version="1.0" encoding="UTF-8" standalone="no"?><applicationData xmlns="http://www.myspace.org/settings">
	<commonSettings>
		<fullscreen>1</fullscreen>
		<colorcount>7</colorcount>
		<size>10</size>
		<colornew>3</colornew>
		<baseWin>100</baseWin>
		<extraWin>50</extraWin>
		<countWin>5</countWin>
		<statmaxRows>17</statmaxRows>
	</commonSettings>
	<localData>

	<user><name>admin</name><pswdhash>0</pswdhash><settings><sound>true</sound><tip>true</tip></settings></user><user><name>Sashonk</name><pswdhash>3362357980</pswdhash><settings><sound>true</sound><tip>true</tip></settings></user><user><name>трус</name><pswdhash>3252720460</pswdhash><settings><sound>true</sound><tip>true</tip></settings></user><user><name>Бывалый</name><pswdhash>3075592955</pswdhash><settings><sound>true</sound><tip>true</tip></settings></user><user><name>Трус</name><pswdhash>3252720460</pswdhash><settings><sound>true</sound><tip>true</tip></settings></user><user><name>Сема</name><pswdhash>3312982919</pswdhash><settings><sound>true</sound><tip>true</tip></settings></user><user><name>Loh</name><pswdhash>528512340</pswdhash><settings><sound>true</sound><tip>true</tip></settings></user></localData>

	

<stats><record><name>Трус</name><score>8600</score></record><record><name>gfhfjhfj</name><score>7700</score></record><record><name>Бывалый</name><score>6850</score></record><record><name>Трус</name><score>6700</score></record><record><name>Sashonk</name><score>6250</score></record><record><name>Трус</name><score>5200</score></record><record><name>Бывалый</name><score>3600</score></record><record><name>Бывалый</name><score>3500</score></record><record><name>ODMIN</name><score>2250</score></record><record><name>admin</name><score>1850</score></record><record><name>asshole</name><score>1600</score></record><record><name>ахтунг-1</name><score>1350</score></record><record><name>Sashonk</name><score>1111</score></record><record><name>ODMIN</name><score>1000</score></record><record><name>ODMIN</name><score>900</score></record><record><name>axt</name><score>750</score></record><record><name>admin</name><score>700</score></record></stats></applicationData>